// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:HOVER {
  text-decoration: none;
}

.event {
  border-bottom: solid 1px #DCDCDC;
}

.event a {
  margin-left: 10px;
}

.score {
  font-size: 64px;
  color: red;
}

.date {
  font-size: 12px;
}

.content-right {
  border-right: solid 1px #DCDCDC;
}
